@import url( 'https://fonts.googleapis.com/css?family=Macondo+Swash+Caps');
$main_color: #e4e0e5;
$secondary_color: #1b5650;
$dark_background_color: #d2d1d3;
$light_secondary_color: #34baac;
$main_font: 'Macondo Swash Caps', cursive;

body {
  margin: 0;
  padding: 0;
}
/*NAVIGATION BAR*/

nav {
  width: 100%;
  margin: 0 auto;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      &.logo {
        font-size: 1.5rem;
        font-family: $main_font;
        color: $main_color;
        padding: 1rem;
        background-color: $secondary_color;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 2px solid $light_secondary_color;
        opacity: 0.9;
        &:hover {
          color: $main_color;
        }
      }
    }

    a {
      text-decoration: none;
      display: flex;
      font-family: $main_font;
      background-color: $dark_background_color;
      text-align: center;
      font-size: 1rem;
      color: $secondary_color;
      height: 1.5rem;
      padding: 1rem;
      margin: 0;
      border-bottom: 2px solid white;

     &:hover {
        color: $light_secondary_color;
      }
      span {
        margin-right: 1rem;
      }
    }
  }
}
// @media screen and (min-width: 480px) {
//   nav {
//     width: 100%;
//     ul {
//     display: flex;
//       li {
//         flex: 1;
//         vertical-align: top;
//         float: left;
//
//         a {
//           &.logo {
//             float: left;
//             height: 1.5rem;
//           }
//         }
//
//         a {
//           color: $main_color;
//           background-color: $secondary_color;
//           opacity: 0.9;
//           border-bottom: 2px solid $main_color;
//           padding: 1rem;
//         }
//       }
//     }
//   }
// }
