@import url( 'https://fonts.googleapis.com/css?family=Macondo+Swash+Caps');
$main_color: #e4e0e5;
$secondary_color: #1b5650;
$dark_background_color: #d2d1d3;
$light_secondary_color: #34baac;
$main_font: 'Macondo Swash Caps', cursive;

body {
  margin: 0;
  padding: 0;
}
/*NAVIGATION BAR*/

.Navbar {
  background-color: $secondary_color;
  display: flex;
  font-family: $main_font;
  color: $main_color;
  font-size: 1rem;
  border-bottom: 2px solid $light_secondary_color;

  span {
    margin-right: 0.5rem;
    margin-left: 1rem;
  }

  .Navbar__Items {
    display: flex; //makes items flex horizontally

    .Navbar__Link {
      padding: 1rem;

      &:hover {
        color: $light_secondary_color;
      }
    }
    //switch off logo hover effect
    .Navbar__Link-brand {
      font-size: 1.5rem;

      &:hover {
        color: $main_color;
      }
    }
  }

  .Navbar__Items--right {
    margin-left: auto;
  }
}
@media only screen and (max-width: 480px) {
  .Navbar,
  .Navbar__Items {
    flex-direction: column;
    .Navbar__Link {
      border-bottom: 2px solid white;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        color: $light_secondary_color;
      }
    }
  }
  .Navbar {
    .Navbar__Items {
      .Navbar__Link-brand {
        &.Navbar__Link-brand {
          border-bottom: 2px solid $light_secondary_color;
        }
      }
    }
  }
  .Navbar__Items--right {
    margin-right: auto;
    background-color: $dark_background_color;
    color: $secondary_color;
    width: 100%;
  }
}
